* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
}

button {
    background-color: purple;
    color: white;
    border: 1px solid purple;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

button .circle {
    position: absolute;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

button:focus {
    outline: none;
}

@keyframes scale {
    to {
          transform: translate(-50%, -50%) scale(3);
          opacity: 0;
    }
}